* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 135px;
}

.hero {
        height: calc(100vh - 130px);
        justify-content: flex-start;
        align-items: center;
        display: flex;
        padding-left: 70px;
        position: relative;
}
.hero-content {
    display: flex;
    flex-direction: column;   
    font-size: 30px;
    font-weight: 500;
    position: relative;
    z-index: 9;
    color: #909090;

}
.hero-content-subtitle a {
    color: #909090;
    text-decoration: none;
    display: inline-block;
}
.shine {

}

.homeicon img {
    display: inline-flex;
    padding-top: 30px;
}
.bbs {
    font-size: 75px;
    color: black;
    text-decoration: underline;
    display: none;
}
.bbs.show {
    display: block;

}
#particles-js, #particles-forms-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}
body {
    background-color: #c4c4c4;
    font-family: 'Montserrat', sans-serif;
}

.navul {
    display: flex;
    justify-content: space-between;
}

.navul li {
    list-style: none;
}
.navul a {
    color: wheat;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 10px;

}
.navul a:hover,
.navul .is-active {
    background-color: white;
    color: #820c01;
    border-radius: 20px;
}

.header {
    background-color: #820c01;
    padding-top: 30px;
    padding-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 10;

}

.header-inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.section-title {
    border: 5px solid black;
    text-align: center;
    padding: 15px 122px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.discography {
    background-color: #820c01;
    color: wheat;
    padding: 40px 0px;
    margin-bottom: 40px;
}

.discography-title {
    text-align: center;
    letter-spacing: .3rem;
    font-size: 20px;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: flex-start;
}

.project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
}

.project-coverart {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.project:hover .project-coverart {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: .500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.project-title {
    padding-top: 15px;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.project-info-link {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
}

.project:hover .project-info {
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    opacity: 1;
}

.project-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    background-color: transparent;
}
.aboutmedev {
    max-width: 1000px;
    margin: 0 auto;
}

.skills {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.section-subset-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
}

.section-subset-item {
    padding: 20px
}

.section-subset-item img {
    display: block;
    margin: 0 auto 10px;
    height: 100px;
    width: 100px;

}

.section-subset-item-title {
    display: block;
    text-align: center;
}

.section-subset-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 25px;
}

.portfolio .section-heading {
    background-color: #820c01;
    padding-top: 50px;
    padding-bottom: 50px;
    color: wheat;
    margin-bottom: 0px;
}

.portfolio .section-title {
    border-color: wheat;
}

.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    border-top: 20px solid black;
    border-bottom: 20px solid black;

}

.portfolio-project img {
    width: 100%;
    height: auto;
    line-height: 0;
    display: block;
}
#contactme{
    position: relative;
}
.form-element {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}
#my-form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    z-index: 9;
    position: relative;
}
input, textarea {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 0;
    border-top: 0;
    background: transparent;
    margin-bottom: 40px;
    padding: 15px 10px 5px; 
    -webkit-appearance: none;
    border-radius: 0;

}
input:focus, textarea:focus {
background-color: white;
}
textarea {
    font-family: 'Montserrat', sans-serif;
}
.form-submit {
    text-align: center;
}
.form-submit :hover {
    text-decoration: underline;
}
#my-form-button {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 0;
    border-bottom: 0;
    background: transparent;
    display: inline-flex;
    text-align: center;
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    -webkit-appearance: none;

}
#my-form-status {
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
}
::placeholder {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
footer {
    background-color: #820c01;
    color: wheat;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-copyright {
    color: wheat;
    font-size: 15px;
    padding-top: 20px;
}

.footer-top-link {
    color: wheat;
    letter-spacing: .15rem;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

.footer-top-link img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
