* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 155px;
}

body {
    --text-color: black;
    --red: #820c01;
    --white: white;
    --text-color-alt: wheat;
    --background-color: #c4c4c4;
    --icon-color-primary: black;
    --icon-color-secondary: black;
    --icon-color-tertiary: wheat;


    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

body.is-dark {
    --background-color: black;
    --text-color: white;
    --icon-color-primary: wheat;
    --icon-color-secondary: white;
}

.hero {
    height: calc(100vh - 130px);
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left: 70px;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    z-index: 9;
    color: #909090;
}

.hero-content-subtitle a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}


.shine {
    position: relative;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.face {
    float: right;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px var(--text-color);
}

.homeicon svg {
    display: inline-flex;
    padding-top: 30px;
    fill: var(--icon-color-primary);
    width: 40px;
    height: 40px;






}


.typewrite {
    border-right: 2px solid rgba(255, 255, 255, .75);
    line-height: 1.15;
    font-size: 75px;
    color: var(--red);
    text-decoration: underline;
    animation: blinkTextCursor 500ms infinite normal;
    font-weight: 700;
}

.is-dark .typewrite {
    border-right: 2px solid rgba(255, 255, 255, .75);
    animation: blinkTextCursorLight 500ms infinite normal;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursorLight {
    from {
        border-right-color: rgba(250, 250, 250, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.content {
    font-size: 75px;
    color: var(--red);
}

#particles-js,
#particles-forms-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navul {
    display: flex;
    justify-content: space-between;
}

.navul li {
    list-style: none;
}

.navul a {
    color: var(--text-color-alt);
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 10px;

}

.navul a:hover,
.navul .is-active {
    background-color: var(--white);
    color: var(--red);
    border-radius: 20px;
}

.header {
    background-color: var(--red);
    padding-top: 30px;
    padding-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-toggle {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border: 0;
    padding: 5px 10px;
}

.is-dark .btn-toggle {
    background-color: white;
    color: black;

}

.header-inner .logo {
    display: block;
    margin: 0 20px 20px;
}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section-title {
    border: 5px solid var(--text-color);
    text-align: center;
    padding: 15px 122px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.discography {
    background-color: var(--red);
    color: var(--text-color-alt);
    padding: 40px 0px;
    margin-bottom: 40px;
    position: relative;
}

.discography canvas {
    background: black;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.discography-title {
    text-align: center;
    letter-spacing: .3rem;
    font-size: 20px;
    margin-bottom: 20px;
    color: wheat;
    position: relative;
    z-index: 1;

}

.projects-img-container {
    position: relative;
}

.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: flex-start;
}

.project {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.project-coverart {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.project:hover .project-coverart {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: .500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.project-title {
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px 20px 0;
}

.project-info-link {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-info-link:hover {
    cursor: pointer;
}

.project:hover .project-info {
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    opacity: 1;
}

.project-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
    background-color: transparent;
}

.aboutmedev {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
}

.aboutmedev h2 {
    margin-bottom: 10px;
}

.aboutmedev p {
    margin-bottom: 20px;
}

.skills {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.section-subset {
    opacity: 0;
}

.section-subset.animate {
    opacity: 1;
}


.section-subset-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
}

.section-subset-item {
    padding: 20px;
}

.animate .section-subset-item {
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.animate.section-subset-item:nth-child(1) {
    animation-delay: calc(1 * 100ms);
}

.animate .section-subset-item:nth-child(2) {
    animation-delay: calc(2 * 100ms);
}

.animate .section-subset-item:nth-child(3) {
    animation-delay: calc(3 * 100ms);
}

.animate .section-subset-item:nth-child(4) {
    animation-delay: calc(4 * 100ms);
}

.animate .section-subset-item:nth-child(5) {
    animation-delay: calc(5 * 100ms);
}

.animate .section-subset-item:nth-child(6) {
    animation-delay: calc(6 * 100ms);
}

.animate .section-subset-item:nth-child(7) {
    animation-delay: calc(7 * 100ms);
}

.animate .section-subset-item:nth-child(8) {
    animation-delay: calc(8 * 100ms);
}

.animate .section-subset-item:nth-child(9) {
    animation-delay: calc(9 * 100ms);
}

.animate .section-subset-item:nth-child(10) {
    animation-delay: calc(10 * 100ms);
}

.animate .section-subset-item:nth-child(11) {
    animation-delay: calc(11 * 100ms);
}

.animate .section-subset-item:nth-child(12) {
    animation-delay: calc(12 * 100ms);
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}

.section-subset-item img {
    display: block;
    margin: 0 auto 10px;
    height: 100px;
    width: 100px;

}

.section-subset-item svg {
    display: block;
    margin: 0 auto 10px;
    height: 100px;
    width: 100px;
    fill: var(--icon-color-secondary);

}

.section-subset-item-title {
    display: block;
    text-align: center;
}

.section-subset-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 25px;
}

.portfolio {
    margin-bottom: 40px;
}

.portfolio .section-heading {
    background-color: var(--red);
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--text-color-alt);
    margin-bottom: 0px;
}

.portfolio .section-title {
    border-color: var(--text-color-alt);
}

.portfolio-projects {
    margin-bottom: 20px;
    border-top: 20px solid var(--text-color);
    border-bottom: 20px solid var(--text-color);
}

.portfolio-project {
    display: block;
    line-height: 0;
}

.portfolio-project img {
    width: 100%;
    height: auto;
    line-height: 0;
    display: block;

}

#contactme {
    position: relative;
}

.form-element {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#my-form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    z-index: 9;
    position: relative;
}

input,
textarea {
    border-left: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
    border-right: 0;
    border-top: 0;
    background: transparent;
    margin-bottom: 40px;
    padding: 15px 10px 5px;
    -webkit-appearance: none;
    border-radius: 0;

}

input:focus,
textarea:focus {
    background-color: var(--white);
}

textarea {
    font-family: 'Montserrat', sans-serif;
}

.form-submit {
    text-align: center;
}

.form-submit :hover {
    text-decoration: underline;
}

#my-form-button {
    border-left: 3px solid var(--text-color);
    border-right: 3px solid var(--text-color);
    border-top: 0;
    border-bottom: 0;
    background: transparent;
    display: inline-flex;
    text-align: center;
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
    -webkit-appearance: none;

}

#my-form-status {
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
}

::placeholder {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

footer {
    background-color: var(--red);
    color: var(--text-color-alt);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-copyright {
    color: var(--text-color-alt);
    font-size: 15px;
    padding-top: 20px;
}

.footer-top-link {
    color: var(--text-color-alt);
    letter-spacing: .15rem;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

.footer-top-link svg {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    fill: var(--icon-color-tertiary);
}

.mobile-menu {
    display: none;
}

.swiper-discography {
    width: 100%;
    height: 300px;
}

.swiper-portfolio {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.swiper-portfolio img {
    width: 100%;
    height: auto;

}

.swiper-portfolio .swiper-slide {
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 15;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--icon-color-tertiary);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    max-width: 400px;
    border-radius: 20px;

}

.is-dark .modal-content {
    background-color: var(--background-color);

}


/* The Close Button */
.close {
    color: #aaa;
    display: block;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}