.html {
    padding: 135px;
}

.hero {
    padding: 100px 20px;
    height: auto
}

.hero-content {
    font-size: 20px;
}

.homeicon img {
    height: 40px;
    width: 40px;
}

.typewrite {
    font-size: 40px;
}

.content {
    font-size: 30px;
}

.nav {
    display: none;
}

.nav.is-active {
    display: block;
}

.navul {
    flex-direction: column;
    justify-content: center;
}

.navul a {
    display: block;
    margin: 0 0 0 20px;
    padding: 0 0 10px 0;
}

.navul a:hover,
.navul .is-active {
    background-color: transparent;
    color: var(--text-color-alt);
    border-radius: 0;
}

.header {
    position: relative;
    top: inherit;
    padding: 0;
}

.header-inner {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.header-top {
    padding: 10px 0 20px;
}

.header-inner .logo {
    margin: 0 0 0 20px;
}

.btn-toggle {
    width: 100%;
    width: 100%;
    display: block;
    position: relative;
    top: inherit;
    right: inherit;
}

.section-heading {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.section-title {
    padding: 20px;
}

.section-subset {
    padding: 0 20px;
}

.projects {
    grid-template-columns: repeat(1, 1fr);
}

.project {
    justify-content: center;
}

.swiper-discography.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -5px;
}

.swiper-portfolio.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 0px;
}

.swiper-pagination-bullet-active {
    background-color: var(--text-color-alt);

}

.aboutmedev {
    padding-left: 20px;
    padding-right: 20px;
}

.face {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

.section-subset-content {
    grid-template-columns: repeat(2, 1fr);
}

.portfolio-projects {
    grid-template-columns: repeat(1, 1fr);
}

.form-element {
    padding: 0 20px;
}

.mobile-menu {
    position: absolute;
    display: block;
    top: 60px;
    right: 20px;
}

.mobile-menu .menu-close-icon {
    display: none;
}

.mobile-menu .menu-icon {
    display: block;
}

.mobile-menu.is-active .menu-close-icon {
    display: block;
    margin-top: -5px;
}

.mobile-menu.is-active .menu-icon {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    display: block;
}