.section-heading {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.section-subset {
    padding: 0 20px;
}

.section-title {
    padding: 20px;
}


.aboutmedev {
    padding-left: 20px;
    padding-right: 20px;
}

.projects {
    grid-template-columns: repeat(1, 1fr);
}

.section-subset-content {
    grid-template-columns: repeat(1, 1fr);
}

.header {
    position: relative;
    top: inherit;
}

.navul {
    flex-direction: column;
    justify-content: center;
}

.header-inner {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.bbs {
    font-size: 45px;
}

.hero-content {
    font-size: 20px;
}

.hero {
    padding: 100px 20px;
    height: auto

}

.homeicon img {
height: 40px;
width: 40px;
}

.portfolio-projects {
    grid-template-columns: repeat(1, 1fr);
}

.form-element {
    padding: 0 20px;
}

.navul a {
    display: block;
    margin: 0 0 0 20px;
    padding: 0 0 10px 0;
}

.navul a:hover,
.navul .is-active {
    background-color: transparent;
    color: wheat;
    border-radius: 0;
}

.mobile-menu {
    position: absolute;
    display: block;
    top: 40px;
    right: 20px;

}
.mobile-menu .menu-close-icon{
    display: none;
}
.mobile-menu .menu-icon{
    display: block;
}
.mobile-menu.is-active .menu-close-icon{
    display: block;
    margin-top: -5px;
}
.mobile-menu.is-active .menu-icon{
    display: none;
}
.nav {
    display: none;
}
.nav.is-active {
    display: block;
}

